/* You can add global styles to this file, and also import other style files */
*{
  align-items: center;
  text-align: center;
  font-size: 50px;
}

div{
  border: 2px solid #888882;
  background-color: #bbbab1;
}

.red{
  color: red;

}
.blue{
  color: blue;
}
